<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Message Board</h1>
      <button class="newButton">Add a message</button>
    </header>
    <ul>
      <% messages.forEach((message) => { %>
        <li>
          <p><%= message.text %></p>
          <p><%= message.user %> - <%= message.added %></p>
        </li>
      <% }); %>
    </ul>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
