<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header class="header">
      <h1>Message Board</h1>
      <button class="newButton">Add a message</button>
    </header>
    <main>
      <!-- <% messages.forEach((message) => { %>
        <div class="message">
          <span>
            <h3><%= message.username %></h3><h4><%= message.date %></h4>
          </span>
          <p><%= message.message %></p>
        </div>
      <% }); %> -->
    </main>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
