<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <% messages.forEach((message) => { %>
        <li>
          <p><%= message.text %></p>
          <p><%= message.user %> - <%= message.added %></p>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
