<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/new" method="POST">
    <label for="text">Enter message:</label>
    <input type="text" name="text" id="text">
    
    <label for="user">Username:</label>
    <input type="text" name="user" id="user">
    <button type="submit">Submit</button>
  </form>
</body>
</html>